body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin:  5%;
  color: #FEF2BF;
}a

#heart-yellow {
  font-size: 2em;
}

#footer-sign {
  font-size: 1.5rem;
  color: ;
}

.container-one {
  display: block;
  width: 50%;
  margin: auto;
}

.container-two {
  display: block;
  width: 50%;
  margin: auto;
}

.container-three {
  display: block;
  width: 50%;
  margin: auto;
}

.hidden-container {
  display: none;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

/* container-two */
.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
 
.indigo {
  background-color: indigo;
}

.violet {
  background-color: violet;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
